.welcomme-word {
    font-size: 40px;
    font-weight: 100;
    /*color: red;*/
}

.welcomme-word>span:nth-child(2),
.welcomme-word>span:nth-child(4) {
    font-weight: bold;
    font-size: 50px;
}

.user-information>div:nth-child(1) {
    background: #D4EDDA;
    padding: 20px 20px 0px 20px;
}

/* 连接个人主页 */
.userindex-html {
    float: right;
    font-size: 25px;
}

/* 信息展示 */
.user-information>div:nth-child(2) {
    display: flex;
}

.user-information>div:nth-child(2)>div:nth-child(1) {
    flex: 1;
}

.user-information>div:nth-child(2)>div:nth-child(2) {
    flex: 2;
}

.user-information>div:nth-child(2)>div:nth-child(3) {
    flex: 1;
}
/*修改资料a*/
.user-information>div:nth-child(2)>div:nth-child(3) a {
    float: left;
}

.user-information>div>div:nth-child(2) tr:last-child td:last-child{
    word-wrap: break-word;
    word-break: break-all;
}



/*右箭头*/
.right-arrow {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
}

.right-arrow::after {
    display: inline-block;
    content: " ";
    height: 13px;
    width: 13px;
    border-width: 3px 3px 0 0;
    border-color: #0177ff;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
}


/* 修改资料 弹出框 */
.user-information{
    position: relative;
}
.change_user_information-con{
    /*position: relative;*/
    position: absolute;
    float: left;
    z-index: 100;
}


/**/
.change-status{
    display: none;
    position: absolute;
    left: 40%;
    top: 10%;
    z-index: 200;
    width: 200px;
    height: 100px;
}



/* 模糊 */
#back{
	display: none;
	 position:absolute; 
	 width:100%; 
	 height: 100%; 
	 top: 0; 
	 left: 0;
	 z-index: 2; 
	 background: rgba(255, 255, 255, .6);
}











