.container {
    display: flex;
}

.con-left {
    flex: 4;
}

.con-right {
    flex: 1;
    
}

/* 展示用户信息部分 */

.user-photo img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.user-inf {
    display: flex;
    position: relative;
}
.user-inf>div:nth-child(1){
    flex: 1;
}
.user-photo {
    flex: 6;
}

.user-inf-more {
    flex: 40;
}

.user-inf-more .user-name>span:nth-child(1) {
    font-size: 30px;
    padding: 10px;
}

.user-inf-more .user-name>span:nth-child(2) {
    font-size: 15px;
    float: right;
    position: relative;
    top: 20px;
    right: 10px;
}

.user-inf-more .article-inf {
    padding-top: 10px;
}

.user-inf-more .article-inf>span:nth-child(1),
.user-inf-more .article-inf>span:nth-child(3) {
    font-size: 15px;
}

.user-inf-more .article-inf>span:nth-child(2),
.user-inf-more .article-inf>span:nth-child(4) {
    font-size: 25px;
    font-weight: bold;
}


/* con-right  自我描述  */
.con-right{
	
}
.con-right>div>div:nth-child(1){
	font-size: 25px;
	text-align: center;
	padding: 10px;
}
.con-right>div>div p{
	text-indent: 2em;
	padding: 5px;
}





/* 展示文章 */
.article-per {
    display: flex;

}

.articleCon {
    font-size: 25px;
    text-indent: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 80px;
}

/*  */
.articleInfo{
	position:relative;
	padding-top: 5px;
}
.articleInfo span:last-child{
	float: right;
}
.articleInfo span{
	margin-right: 20px;
}





/* 左侧用户的文章类型 */
.left-typeName{
	position: relative;
}

.left-typeName label{
	text-align:center;
	display:flex;
	width: 100%;
	cursor: pointer;
}
.left-typeName label a{
	text-decoration: none;
}






