<%@ page contentType="text/html;charset=UTF-8" language="java"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://"
			+ request.getServerName() + ":" + request.getServerPort()
			+ path + "/";
%>

<html>
<head>
<base href="<%=basePath%>">
<title>userIndex</title>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="user/userIndex/userIndex.css">
</head>

<body>
	<div>
		<%@include file="../../headerFooter/header.jsp"%>
	</div>

	<div class="container">
		<div class="con-left">
			<!-- user -->
			<div class="user-inf">
				<div></div>
				<div class="user-photo">
					<img src="static/image/sanyecao.jpg" alt="">
				</div>
				<div class="user-inf-more">
					<div class="user-name">
						<span class="userID">${user.userID}</span> <span>加入时间：<span
							class="join-time">${user.registerTime}</span></span>
					</div>
					<div class="article-inf">
						<c:set value="0" var="totalWords" />
						<c:forEach items="${articleList}" var="p" varStatus="vs">
							<c:set value="${totalWords+p.articleContent.length()}"
								var="totalWords" />
						</c:forEach>

						<span class="ml-2">文章数：</span><span>${articleList.size()}</span> <span
							class="ml-4">总字数：</span><span>${totalWords}</span>
					</div>
				</div>
			</div>

			<!-- article -->
			<div class="article-part">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item"><a class="nav-link active"
						data-toggle="tab" href="#article-all">文章</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#lastestComment">最新评论</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div id="article_all" class="container tab-pane active">
						<br>
						<c:forEach var="p" items="${articleList}" varStatus="vs">
							<div class="article-per">
								<div class="article-per-con">
									<a href="articleShow?articleID=${p.articleID}">${p.articleTitle}
										<span class="badge badge-primary">${p.articleType.articleTypeName}</span>
									</a>
									<div class="articleCon">${p.articleContent}</div>
									<div class="articleInfo">
										<span>赞 ${p.supportNum }</span> <span>评论 ${p.commentNum }</span>
										<span>时间 ${p.launchTime }</span>
									</div>
								</div>
							</div>
							<hr>
						</c:forEach>
					</div>

					<div id="lastestComment" class="container tab-pane fade">
						<br>

					</div>

				</div>

			</div>

		</div>
		<div class="con-right">
			<div>
				<div>自我介绍</div>
				<div >
					${user.introduction}
				</div>
			</div>
			<hr>
			<div>
				<div class="list-group left-typeName">
					<a href="userIndex?userID=${user.userID}"
						class="list-group-item list-group-item-action">全部</a>
					<c:forEach items="${typeList}" var="q" varStatus="vs1">

						<label class="list-group-item list-group-item-action"> <a
							href="javascript:void(0)"> <input type="radio"
								name="typeName" value="${q.articleTypeID}" style="display: none;"> <span>${q.articleTypeName} <span class="badge badge-info includeNum">${q.articleNum}</span> </span>
						</a>
						</label>


					</c:forEach>

				</div>

			</div>
		</div>

	</div>


	<div>
		<%@include file="../../headerFooter/footer.jsp"%>
	</div>

	<script src="static/js/jquery-3.3.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="user/userIndex/userIndex.js"></script>
</body>

</html>

