

<html>
<head>
    <title>reg_success</title>
    <style>
        div{
            font-size: 25px;
        }

    </style>
</head>
<body>

<div><span>用户：${user.userID}</span>注册成功！<span id="remainSeconds">3</span>秒后...<a href="login">返回登录</a></div>

<script type="text/javascript">

    setInterval(jump, 1000);
    var sec = 3;

    function jump() {
        sec--;
        if (sec > 0) {
            document.getElementById('remainSeconds').innerHTML = sec;

        } else {
            window.location.href = 'login';
        }
    }
</script>

</body>
</html>
