.header {
    display: flex;
    min-width: 1270px;
    height: 50px;
}

.logo {
    flex: 1;
}

.header-left {
    flex: 5;
}

.header-right {
    flex: 4;
    display: flex;
    justify-content: flex-end;
}

/* li a */
.header li a {
    font-size: 25px;
}


/*logo  */
.logo {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.logo a {
    font-size: 25px;
}


/*导航栏 padding 及下拉菜单宽度*/
.nav-link {
    /*padding: 0;*/
    margin: 0;

}

.dropdown-menu {
    min-width: 100%
}

/*// 改变菜单栏默认padding*/
.navbar {
    padding: 0;
}

.nav-item{
    margin: auto 10px;
}


/* 搜索 */

.input-search {
    
}


/*搜索下拉框 设置*/
.search-item select{
    
}
/*optgroup option*/


/*分割线*/
.header{
    border-bottom: 1px solid #c2c2c2;
}


/*登录注册按钮*/
.login_reg a{
    text-decoration: none;
    font-size: 10px;
}

/* 头像 */
.pPhoto{
	height: 40px;
	width: 40px;
	border-radius:30%;
}







